@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/*This is the style to the register and the login*/
.container-form-register{
    background-color: #172838;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 14px 2px #149CEA;
    width: 380px;
    height: 450px;
    text-align: center;
    margin-top: 30px;
}

.container-form-register .container-header h2{
    margin-top: 30px;
    align-items: center;
    text-align: center;
    margin-bottom: 45px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 600;
}


.container-header h2:hover{
    color:#149CEA;
    transition: 1s;
    font-size:45px;
}

.container-form-register .container-body {
    font-size: 18px;
    margin-bottom: 6px;
}

.container-form-register .container-body input {
    max-width: 220px;
    width: 3000px;
    height: 30px;
    border: 2px solid transparent;
    border-radius: 4px;
    outline: none;
    border-bottom: 2px solid #142331;    
    background-color: #102233;
    padding: 5px;
    transition: .3s linear;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 13px;
}

.container-body input:focus {
    border: 2px solid #149CEA;
    caret-color: #149CEA;
    color: #149CEA;
    box-shadow: 4px 4px 10px #070707;
}

.container-body input::placeholder {
    color: #149CEA;
}


.container-body button {
    width: 10em;
    position: relative;
    height: 2em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.container-body button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #172838;
    transition: 0.5s;
    transform-origin: center;
}

.container-body button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #172838;
    transition: 0.5s;
}

.container-body button:hover::before,
button:hover::after {
    transform: scale(0)
}

.container-body button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}
.container-body a{
    color:white;
    text-decoration: none;
}
.container-body a:hover{
    color:#1479EA;
}

.container-form-login {
    background-color: #172838;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 14px 2px #149CEA;
    width: 380px;
    height: 400px;    
}
.container-form-login .container-body {
    font-size: 18px;
    margin-bottom: 6px;
}

.container-form-login .container-body input {
    max-width: 220px;
    width: 3000px;
    height: 30px;
    border: 2px solid transparent;
    border-radius: 4px;
    outline: none;
    border-bottom: 2px solid #142331;    
    background-color: #102233;
    padding: 5px;
    transition: .3s linear;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top:10px;
}
.container-form-login .container-header h2{
    margin-top: 30px;
    align-items: center;
    text-align: center;
    margin-bottom: 45px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 600;
}
.container-form-login .container-body input {
    max-width: 220px;
    width: 3000px;
    height: 30px;
    border: 2px solid transparent;
    border-radius: 4px;
    outline: none;
    border-bottom: 2px solid #142331;    
    background-color: #102233;
    padding: 5px;
    transition: .3s linear;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 13px;
}

.container-form-login .container-body input:focus {
    border: 2px solid #149CEA;
    caret-color: #149CEA;
    color: #149CEA;
    box-shadow: 4px 4px 10px #070707;
}

.container-form-login .container-body input::placeholder {
    color: #149CEA;
}

.container-form-login .container-header h2:hover{
    color:#149CEA;
    transition: 1s;
    font-size:45px;
}
/*This is the style to create a new project*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: #efefef;
}

/*----------This is the style to the creation of user stories----------*/
#contact {
    width: 500px;
    margin:2em auto;
    background:white;
    position: relative;
    }
    #contact::after {
    content: "";
    display: block;
    height: 30px;
    width: 90%;
    left: 5%;
    bottom: 0;
    position: absolute;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 100%;
    z-index: -1;
    }
    #contact article {
      padding: 1em;
    }
    #contact h1 {
    background: #F2385A;
    font-family: Oswald ,sans-serif;
    font-size: 1.75em;
    padding: 0.6em 0 0.6em 0.4em;
    color: white;
    text-shadow: 0 0.06em 0 #424242;
    position: relative;
    }
    .contactbutton {
    background: #F2385A;
    -webkit-box-shadow: 1px 1px 0 0 #832032,2px 2px 0 0 #832032,3px 3px 0 0 #832032;
    box-shadow: 1px 1px 0 0 #832032,2px 2px 0 0 #832032,3px 3px 0 0 #832032;
    text-align: center;
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 2px;
    cursor: pointer;
    }
    .contactbutton:hover {
    -webkit-box-shadow: 1px 1px 0 0 #832032,0px 0px 0 0 #832032,0px 0px 0 0 #832032;
    box-shadow: 1px 1px 0 0 #832032,0px 0px 0 0 #832032,0px 0px 0 0 #832032;
    margin-top: 22px;
    margin-left: 2px;
    margin-bottom: 0px;
    }
    .mail {
    margin-top: 11px;
    font-size: 15px;
    display: inline-block;
    border-top: 2em solid transparent;
    border-left: 2.6em solid #832032;
    height: 0;
    width: 0;
    position: relative;
    }
    .mail:before {
    content: '';
    top: -2.5em;
    left: -2.95em;
    display: block;
    position: absolute;
    border-top: 1.2em solid #832032;
    border-left: 1.6em solid transparent;
    border-right: 1.6em solid transparent;
    border-bottom: 1em solid transparent;
    font-size: 0.8em;
    }
    .mail::after {
    display: block;
    content: "";
    position: absolute;
    border-top: 2em solid transparent;
    border-right: 2.6em solid #832032;
    height: 0;
    width: 0;
    left: -2.18em;
    bottom: 0;
    }
    #checkcontact{
    position: absolute;
    left: -9999px;
    }
    .contactform {
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    -ms-transition: all linear 1s;
    transition: all linear 1s;
    }
    #checkcontact:checked + .contactform {
    max-height: 1000px;
    }
    .input_wrapper {
    position: relative;
    }
    .textarea_wrapper textarea {
    margin-top: 20px;
    display: block;
    width: 100%;
    background: white;
    border: 1px solid #DADADA;
    box-shadow: 0 0 1px 0 #E4E4E4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    color: #5E5E5E;
    }
    .input_wrapper input[type="text"] {
    margin-top: 1em;
    display: block;
    width: 100%;
    background: white;
    border: 1px solid #DADADA;
    box-shadow: 0 0 1px 0 #E4E4E4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    color: #5E5E5E;
    text-indent: 15%;
    }
    .input_wrapper input[type="text"]:focus {
    background: rgba(242, 56, 90, 0.05);
    box-shadow: inset 2px 2px 5px 0 #DADADA;
    outline: none;
    text-indent: 0;
    }
    .input_wrapper label {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #F2385A;
    color: white;
    font-family: Oswald ,sans-serif;
    box-sizing: border-box;
    width: 15%;
    text-align: center;
    line-height: 2.8em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    }
    .input_wrapper input[type="text"]:focus + label {
    left: 85%;
    }
    .textarea_wrapper textarea {
    margin-top: 20px;
    display: block;
    width: 100%;
      min-height:150px;
    background: white;
    border: 1px solid #DADADA;
    box-shadow: 0 0 1px 0 #E4E4E4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    color: #5E5E5E;
    }
    .textarea_wrapper textarea:focus {
    background: rgba(242, 56, 90, 0.05);
    box-shadow: inset 2px 2px 5px 0 #DADADA;
    outline: none;
    }
    .submit_wrapper {
    text-align: center;
    }
    .submit_wrapper button {
    text-align: center;
    display: inline-block;
    width: 40%;
    height: 50px;
    margin-top: 1em;
    margin-bottom: 6px;
    cursor: pointer;
    background: #F2385A;
    color: white;
    font-family: Oswald ,sans-serif;
    font-size: 1em;
    border: none;
    -webkit-box-shadow: 1px 1px 0 0 #832032,2px 2px 0 0 #832032,3px 3px 0 0 #832032;
    box-shadow: 1px 1px 0 0 #832032,2px 2px 0 0 #832032,3px 3px 0 0 #832032;
    -webkit-appearance: none;
      -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    }
    .submit_wrapper input:hover {
    -webkit-box-shadow: 1px 1px 0 0 #832032,0px 0px 0 0 #832032,0px 0px 0 0 #832032;
    box-shadow: 1px 1px 0 0 #832032,0px 0px 0 0 #832032,0px 0px 0 0 #832032;
    margin-top: 22px;
    margin-left: 2px;
    margin-bottom: 0px;
    }
    
  /*Nav-bar*/
  .header{
    background-color: #1f2528;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 2px 10%;
    font-family: 'Lato', sans-serif;
    margin-bottom: 90px;
}

.header .logo{
    margin-left: -70px;
}
.header .logo img{
  width: 60px;  
  margin-right: 12px;
  margin-bottom: 7px;
}
.header .logo img:hover{
  transition: 0.5s;
  width: 65px;
  margin-left:-5px;
}
.header .logo .title{
  text-decoration: none;
  color: white;  
  font-size: 25px;
  font-weight: 600;
}
.header .logo .title:hover{
  color: #9068d8;
  transition: 0.2s;  
  font-weight:900;
  font-size: 28px;  
}

.header .nav-links{
    list-style: none;
    font-size: 18px;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links .links{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;  
    cursor: pointer;  
}

.header .nav-links li .links:hover{
    color: #9068d8;
}

.header button{
    font-weight: 600;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;    
}
.header .language button{  
  margin-left: 10px;
  
}
.header button:hover{
    background-color: #c1ace8;
    color: #703cd2;
    transform: scale(1.1);
}


    @media (max-width: 500px){
    #contact {
    width: 100%;
    }
      .input_wrapper label {
    line-height: 3.5em;
    font-size: 0.8em;
    }  
}

/*---------------------------------------- Home Page ----------------------------------------*/
.banner img{
  margin-top: -40px;
  margin-left: 100px;
  width: 1145px;
  height: 450px;  
}
/*Head*/
.card2{
    box-sizing: border-box;
    cursor: pointer;
    padding: 4px 100px;
    position: relative;
    width: 25%;
    height: 150px;    
    background:linear-gradient(40deg, #02061E,#020415);
    border-radius: 6px;
}
/*Formulario registro de usuarios*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}


.titulo_15{
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}



.testbox {
  margin: 20px auto;
  width: 343px; 
  height: 464px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}

input[type=radio] {
  visibility: hidden;
}

form{
  margin: 0 30px;
}

label.radio {
	cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

label.radio:before {
  background: #3a57af;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
	opacity: 1;
}

hr{
  color: #a9a9a9;
  opacity: 0.3;
}

input[type=text],input[type=password]{
  width: 200px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}

input[type=password]{
  margin-bottom: 25px;
}

#icon {
  display: inline-block;
  width: 30px;
  background-color: #3a57af;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}

.gender {
  margin-left: 30px;
  margin-bottom: 30px;
}

.accounttype{
  margin-left: 8px;
  margin-top: 20px;
}

a.button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  float: right;
  text-decoration: none;
  width: 50px; height: 27px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #3a57af; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  top: 0px;
  position: relative;
}

a.button:hover {
  top: 3px;
  background-color:#2e458b;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}

/*----------------------------estilos tarjetas Home-------------------------------*/


/*---------------------------- iniciModal ------------------------------------------*/

/*:::Boton-Modal:::*/
.boton-modal{
  padding: 40px;  
}
.boton-modal label{
  padding: 10px 15px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.boton-modal label:hover{
  background-color: #185E83;
}
/*:::Fin Boton-Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal{
  display: none;
}
.container-modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#btn-modal:checked ~ .container-modal{
  display: flex;
}
.content-modal{
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #220e46;
  box-shadow: 0px 0px 20px 5px #5a457b; 
  text-align: center;
  border-radius: 4px;
}
.content-modal h2{
  margin-bottom: 15px;
}
.content-modal p{
  padding: 15px 0px;
  margin-bottom: 15px;
  color:white;
}
.content-modal .btn-cerrar{
  width: 100%;    
  float: right;  
  margin-top: -10px;                 
}
.content-modal .btn-cerrar label{
  background-color: none; /*fondo botón*/
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
  margin-left: 350px;   
  font-size: 17px; 
}
.content-modal .btn-cerrar label:hover{
  background-color: none; /*fondo botón*/
  color: #c2aaee;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
  margin-left: 350px;   
  font-size: 17px; 
}
.cerrar-modal{
  width:100%;
  height: 100vh;
  position: absolute;
  top:0; left: 0;
  z-index: -1;
}



.save{
  border-radius:5px;    
  width:150px;
  color:#c0a0fa;
  background-color: #3f1685;  
  border: none;
  border-bottom: 5px solid #2a0f59;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;     
}
.save:hover{
  transition: all 0.5s ease 0s;
  border-bottom: 5px solid #1a0a38;  
  box-shadow: 2px 2px 6px 3px #551db6;
  color:white
}
form p{
  font-size: 23px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
}
.name { 
  border: none;
  border-radius: 4px;
  width: 5px;
  height: 30px;
  box-shadow: 0px 0px 9px 1px #551db6;
  background-color: #31185d;        
  color: white;
  width:300px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
}
.name::placeholder{
  color:#c0a0fa;
  text-align: center;
}
.name:hover{
  transition: all 0.5s ease 0s;
  background-color: #31185d;
  box-shadow: 4px 4px 9px 1px #551db6;
  border-bottom: 5px solid #1a0a38;
  height:35px;
  width:350px;
}

@media screen and (max-width:800px) {
  .content-modal{
      width: 90%;
  }
}

/*:::Fin Ventana Modal:::*/
/*----------------------------estilos nuevos para navbar-----------------------*/
.navbar {
  background-color: #ffffff;
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 999;
  margin-top: auto;
}

.navbar-brand {
  font-weight: bold;
  color: #000000;
  font-size: 20px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #000000;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #000000;
  animation: rotate 0.5s infinite;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

.btn {
  background-color: #051539;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.4s;
  animation: neonGlow 1s infinite alternate;
  right: 125px; /* Ajusta la cantidad de píxeles según tus necesidades */
  margin-left: 125px; /* Ajusta el margen izquierdo para separar el botón de otros elementos */
}


.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@keyframes neonGlow {
  0% { box-shadow: 0 0 5px #073bb4; }
  50% { box-shadow: 0 0 20px #073bb4; }
  100% { box-shadow: 0 0 5px #073bb4; }
}


/*-------------estilo banner---------------------------------*/
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  padding: 20px;
}

.banner-image {
  max-width: 100%;
  height: auto;
}



/*---------------historias de usuario------------------------------------ */
.historias {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

.historias h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.historias p {
  font-size: 16px;
  margin-bottom: 5px;
}

/*------------------------Proyectos cards-----------------------------*/
.grid-cards{
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  column-gap: 1rem;
  padding-bottom: 2rem;
  }
  
  .card {
    width: 340px;
    height: 204px;
    position: relative;
    border-radius: 16px;
    background: #f5f5f5;
    transition: box-shadow .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
    cursor: pointer;
  }
  
  .card-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #051539;
  }
  
  .card-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .card-icon {
    opacity: 0;
    transform: translateX(-20%);
    width: 2em;
    height: 2em;
    transition: all .3s ease-in-out;
  }
  
  #icon {
    --size: 20px;
    width: var(--size);
    height: var(--size);
  }
  
  /*Text*/
  .card-text p {
    line-height: 140%;
   /*Delete this line for multi-line text*/
    white-space: nowrap;
  }
  
  .text-title {
    font-weight: 900;
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }
  
  .text-subtitle {
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
  }
  
  /*Hover*/
  .card:hover {
    box-shadow: 0 10px 20px 4px rgba(35, 35, 35, 0.567);  
    transition: 0.5s;  
  }
  
  .card:hover .card-icon {
    opacity: 1;
    transform: translateX(20%);  
  }


  /*------------------------inicio formulario registro--------------------*/
  .Contenedor_registro {
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    animation: fadeIn 1s;
    margin-top: 5%;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .titulo_registro {
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    animation: slideInDown 2s;
  }
  
  @keyframes slideInDown {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .formulario_Registro {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s;
  }
  
  .label_registro {
    margin-bottom: 15px;
  }
  
  .label_registro > input {
    padding: 10px;
    border-radius: 4px;
    border: 1.5px solid #000000;
    transition: border-color 0.3s;
  }
  
  .label_registro > input:focus {
    outline: none;
    border-color: #051539;
    box-shadow: 0 0 5px #051539;
  }
  
  .boton_Registro {
    padding: 10px;
    border-radius: 4px;
    background-color: #051539;
    color: #ffffff;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .casa_registro {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #2f1052;
    font-weight: bold;
    text-decoration: none;
    animation: slideInUp 1s;
  }
  
  @keyframes slideInUp {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .input_registro {
    animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
  }
  /*-------------------------Boton eliminar historias de usuario----------------------*/
  .fun-button {
    padding: 10px 20px;
    background-color: #051539;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    position: center;
    overflow: hidden;
  }
  
  .fun-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 150%;
    height: 150%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  .fun-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 150%;
    height: 150%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  .fun-button:hover::before,
  .fun-button:hover::after {
    opacity: 1;
  }
  
  .fun-button:hover {
    color: #fff;
  }
  
  .fun-button:hover span {
    opacity: 0;
    transform: translateX(-50%);
  }
  
  .fun-button span {
    position: relative;
    z-index: 2;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  
  .fun-button span::before,
  .fun-button span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease-out;
  }
  
  .fun-button span::before {
    transform: translateX(-100%);
  }
  
  .fun-button span::after {
    transform: translateX(100%);
  }
  
  .fun-button:hover span::before,
  .fun-button:hover span::after {
    transform: translateX(0);
  }
  /*---------------------Vista de historia de usuarios-------------------------*/
  .container_HU {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
  }
  
  .historias {
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 20px;
    animation: fadeIn 1s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .historias h1 {
    font-size: 28px;
    color: #130e4a;
    margin-bottom: 10px;
    animation: scaleIn 0.5s;
  }
  
  @keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .historias p {
    color: #000000;
    margin-bottom: 5px;
    animation: slideIn 0.5s;
    margin:0 auto;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /*---------Historias del proyecto-----------*/
  .historiasProyect{
    margin:0 auto;
  }
  .historiasProyect .cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .historiasProyect .cards .red {
    background-color: #2e1762;
  }
  
  .historiasProyect .cards .card {  
    justify-content: center; 
    text-decoration: none; 
    text-align: center;
    min-height: 100px;
    width: 560px;
    max-height: auto;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
  }  
  .historiasProyect .cards .card p.tip {  
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 20px;  
  }
  .historiasProyect .cards .card p.second-text {
    font-size: .7em;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 20px;
  }
  
  .historiasProyect .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  .historiasProyect .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }
  .historiasProyect .containerProject{
    display: flex;
  }
/*---------------------Estilos formulario crear historias-------------------------*/
.contenedor_CHU {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -18%;
}

.Formulario_CHU {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 9px 14px rgb(0, 0, 0);
  animation: slide-in 1s ease-in-out;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Formulario_CHU .mb_CHU,
.Formulario_CHU .mb_Numero_CHU {
  margin-bottom: 20px;
}

.laber_CHU {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input_CHU {
  width: 100%;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.input_CHU:focus {
  border-color: #2e1762;
}

.btn_crear_CHU {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #2e1762;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn_crear_CHU::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(255, 255, 255, 0.267);
  z-index: -1;
  transition: height 0.9s;
}

.btn_crear_CHU:hover::before {
  height: 100%;
}

.btn_crear_CHU::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

.btn_crear_CHU:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
/*--------contenedores informacion proyecto------*/
.contenedor-father{  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  padding-bottom: 2rem;
}
.contenedor-child1{
  float:left;
  margin-left: 4%;
  max-width: 850px;
}
.contenedor-child2{
  float:right;
  margin-right: 60px;
}

/* Estilos adicionales para mejorar la apariencia */

.Formulario_CHU {
  max-width: 500px;
  margin: 0 auto;
}

.mb_CHU,
.mb_Numero_CHU {
  position: relative;
}

.mb_CHU::before,
.mb_Numero_CHU::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2e1762;
  transform: scaleX(0);
  transition: transform 1s;
}

.mb_CHU:focus-within::before,
.mb_Numero_CHU:focus-within::before {
  transform: scaleX(1);
}
/*-----------------estilos informacion proyecto----------------------*/
.contenedor_info {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 6px 9px rgb(0, 0, 0);
  text-align: center;
  max-width: 750px;
}

.contenido_info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contenido_info p {
  margin-bottom: 5px;
}

/* Estilos adicionales para mejorar la apariencia */

.contenedor_info {
  max-width: 700px;
  margin: 0 auto;
}
/*----------------------------estilos Tabala  Home-------------------------------*/
#home{
  font-family: 'Lato', sans-serif;
}
#home p{
  font-size: 18px;
}
#home h1{
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}
#home h1::after, #home h1::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #0fa4da;
  display: block;
  transition: 0.5s;
}

#home h1:hover::after, #home h1:hover::before {
  width: 100%;
}

#cards{
  border: 1px solid rgb(85, 85, 85);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.5);
}

.styled-list {
  list-style-type: none;
  counter-reset: item;
  padding: 0;
  
}

.styled-list li {
  position: relative;
  padding-left: 35px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
}
.styled-list p{
  margin-left:15px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.styled-list li:before {
  content: counter(item);
  counter-increment: item;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #08055c;
  color: #fff;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-10deg);
}

.styled-list li:hover:before {
  background-color: #0600b0;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  border:1px solid #2c3762;
}

th, td {

  padding: 8px;
  text-align: left;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

th {
  background-color: #05165a;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

td:first-child {
  font-weight: bold;
  color: #000000;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  color: #333;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
}

td:hover {
  background-color: #05165a;
  color: #fff;
  border-color: #fff;
  cursor: pointer;
}

/*----------------------------estilos tarjetas Home-------------------------------*/
.card_row {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.card_col {
  width: 40%;
  margin-bottom: 20px;
  box-shadow: 0 6px 10px 0 rgb(0, 0, 0);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card_col:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
}

.card_img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  transition: transform 0.2s;
}

.card_col:hover .card_img {
  transform: scale(1.1);
}

.card_body {
  padding: 20px;
  background-color: #ffffff;
}

.card_title {
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

.card_text {
  margin-bottom: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card_body {
  animation: fadeIn 0.2s ease-in-out;
}








  
    



   
  



